---
import Main from '../layouts/Main.astro';
---
<Main title="Projects">
  <div class="border border-blue-500 rounded-md p-4 my-4 shadow-sm bg-blue-100 text-blue-800">Banner message</div>
  <div class="grid gap-4 grid-cols-2">
    <div class="border rounded-md p-8">Project</div>
    <div class="border rounded-md p-8">Project</div>
    <div class="border rounded-md p-8">Project</div>
    <div class="border rounded-md p-8">Project</div>
    <div class="border rounded-md p-8">Project</div>
  </div>
</Main>