body {
    font-family: sans-serif;
}

input, button, select, textarea, input[type="checkbox"] {
    background: red ;
    color: yellow ;
    border: 4px dashed orange ;
    text-transform: uppercase ;
    padding: 17px ;
    border-radius: 100px ;
    appearance: inherit ;
    transform: scaleX(-1);
}

a {
    text-transform: uppercase ;
    color: red ;
    text-decoration: overline ;
    border: 4px dashed orange ;
}

img, iframe {
    border: 4px dashed orange ;
    border-radius: 100px ;
    box-shadow: rgb(255 0 0 / 35%) 0px 10px 15px 11px;
}
